.form-container {
  width: auto;
  height: 100vh;
  padding: .5rem;
}

.form-title {
  padding: 1rem;
  font-weight: bolder;
  text-align: center;
}

.contact-form {
  display: block;
}

input[type="text"], input[type="email"] {
  width: 100%;
  height: 50px;
}

textarea {
  width: 100%;
  min-height: 200px;
}

#submit {
  border: black solid 1px;
  font-weight: bolder;
  background-color: #0d6dfdb8;
}