* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

:root {
  --header-bg: #095cf7;
  --headerC-color: white;
  --body-bg: rgb(228, 225, 225);
  --body-color: rgb(42, 41, 41);
  --error-text: rgb(196, 6, 6);

}

body { 
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}
